<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/rda.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="js/classifier.js"></script>
</head>

<body>
  <center>
    <center><img src="images/rda_logo1.png"></center>
    <ul class="list-group" style="width: 350px; float:left; margin-left: 70px">
      Time Vermelho
      <% for(var i=0; i<red_team_data.length; i++) {%>
      <li class="list-group-item justify-content-between">
        <%= user_mapping[red_team_data[i].classified] %>
        <span class="badge badge-default badge-pill"><%= red_team_data[i].average_value%></span>
      </li>
      <% } %>
    </ul>
  </center>

  <center>
    <ul class="list-group" style="width: 350px; float:left; margin-left: 70px">
      Time Amarelo
      <% for(var i=0; i<yellow_team_data.length; i++) {%>
      <li class="list-group-item justify-content-between">
        <%= user_mapping[yellow_team_data[i].classified] %>
        <span class="badge badge-default badge-pill"><%= yellow_team_data[i].average_value%></span>
      </li>
      <% } %>
    </ul>
  </center>

  <center>
    <ul class="list-group" style="width: 350px; float:left; margin-left: 70px">
      Time Verde
      <% for(var i=0; i<green_team_data.length; i++) {%>
      <li class="list-group-item justify-content-between">
        <%= user_mapping[green_team_data[i].classified] %>
        <span class="badge badge-default badge-pill"><%= green_team_data[i].average_value%></span>
      </li>
      <% } %>
    </ul>
  </center>
</body>
</html>