<!DOCTYPE html>
<html>

<head>
    <title>Racha dos Amigles - 2017</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/rda.css">
    <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="js/rda.js"></script>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="row">
        <nav>
            <div class="row nav-bar is-flex">
                <div class="col-md-3 col-xs-12 logo-container">
                    <img class="img-responsive logo" src="images/rda_logo1.png">
                </div>
                <div class="col-md-6 col-xs-12 text-center main-container">
                    <h1 class="main-title">
                        Série de
                        <%= month %> /
                            <%= year %>
                    </h1>
                </div>

                <div class="col-md-3 col-xs-12 action-area">
                    <a class="action-text text-center" href="/login">Login</a>
                </div>
            </div>
        </nav>

        <br>
        <br>
        <% if (red_team_data === undefined) { %>
            <main>
                <div id="main-info" class="row text-center">
                    <div class="col-md-3 col-lg-1"></div>
                    <div class="col-md-6 col-xs-12 col-lg-10">
                        <div class="row grayed-area">
                            <div class="col-md-12 text-center">
                                <h2 class="main-area-text">Sem sorteios disponíveis para esse mês.</h2>
                                <h3 class="h3-team-list">Aguarde o primeiro racha do mês para visualizar os times</h3>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </main>

    <% } else { %>


        <main class="row">
            <div id="main-info" class="col-md-12 text-center grayed-area">
                <div class="row">
                    <div class="col-md-2 col-lg-1"></div>
                    <div class="col-md-8 col-lg-10">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3 class="h3-team-list">Times sorteados</h3>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12 col-lg-4">
                                <div class="row">
                                    <div class="col-md-12 red-team">
                                        <strong>Time Vermelho</strong>
                                    </div>
                                </div>

                                <% for(var i = 0; i < red_team_data.length; i++) { %>
                                    <div class="row table-teams">
                                        <div class="col-md-3 col-xs-2 col-lg-3">
                                            <img class="profile-image athlete-picture" src="<%= user_mapping[red_team_data[i].classified][1] %>">
                                        </div>
                                        <div class="col-md-6 col-xs-8 athlete-name col-lg-6">
                                            <%= user_mapping[red_team_data[i].classified][0] %>
                                        </div>
                                        <div class="col-md-3 col-xs-2 col-lg-3 athlete-classification">
                                            <span class="text-success"><%= red_team_data[i].average_value%><i class="fa fa-star gold"></i></span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="col-md-4 col-xs-12 col-lg-4">
                                <div class="row">
                                    <div class="col-md-12 yellow-team">
                                        <strong>Time Amarelo</strong>
                                    </div>
                                </div>

                                <% for(var i = 0; i < yellow_team_data.length; i++) { %>
                                    <div class="row table-teams">
                                        <div class="col-md-3 col-xs-2 col-lg-3">
                                            <img class="profile-image athlete-picture" src="<%= user_mapping[yellow_team_data[i].classified][1] %>">
                                        </div>
                                        <div class="col-md-6 col-xs-8 athlete-name col-lg-6">
                                            <%= user_mapping[yellow_team_data[i].classified][0] %>
                                        </div>
                                        <div class="col-md-3 col-xs-2 col-lg-3 athlete-classification">
                                            <span class="text-success"><%= yellow_team_data[i].average_value%><i class="fa fa-star gold"></i></span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="col-md-4 col-xs-12 col-lg-4">
                                <div class="row">
                                    <div class="col-md-12 green-team">
                                        <strong>Time Verde</strong>
                                    </div>
                                </div>

                                <% for(var i = 0; i < green_team_data.length; i++) { %>
                                    <div class="row table-teams">
                                        <div class="col-md-3 col-xs-2 col-lg-3">
                                            <img class="profile-image athlete-picture" src="<%= user_mapping[green_team_data[i].classified][1] %>">
                                        </div>
                                        <div class="col-md-6 col-xs-8 athlete-name col-lg-6">
                                            <%= user_mapping[green_team_data[i].classified][0] %>
                                        </div>
                                        <div class="col-md-3 col-xs-2 col-lg-3 athlete-classification">
                                            <span class="text-success"><%= green_team_data[i].average_value%><i class="fa fa-star gold"></i></span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="col-md-2 col-lg-1"></div>
                </div>















                <!--<div class="col-md-6 col-xs-12 col-lg-10">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 class="h3-team-list">Times sorteados</h3>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 red-team">
                                    <strong>Time Vermelho</strong>
                                </div>
                            </div>

                            <% for(var i = 0; i < red_team_data.length; i++) { %>
                                <div class="row table-teams">
                                    <div class="col-md-2 athlete-picture">
                                        <img class="img-responsive profile-image" src="<%= user_mapping[red_team_data[i].classified][1] %>">
                                    </div>
                                    <div class="col-md-8 col-xs-10 athlete-name">
                                        <%= user_mapping[red_team_data[i].classified][0] %>
                                    </div>
                                    <div class="col-md-2 col-xs-2 athlete-classification">
                                        <span class="fa-stack">
                                                      <i class="fa fa-star fa-stack-2x gold"></i>
                                            <span class="fa fa-stack"><%= red_team_data[i].average_value%></span>
                                            </span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12 yellow-team">
                                        <strong>Time Amarelo</strong>
                                    </div>
                                </div>
                                <% for(var i = 0; i < yellow_team_data.length; i++) { %>
                                    <div class="row table-teams">
                                        <div class="col-md-2 athlete-picture">
                                            <img class="img-responsive profile-image" src="<%= user_mapping[yellow_team_data[i].classified][1] %>">
                                        </div>
                                        <div class="col-md-8 col-xs-10 athlete-name">
                                            <%= user_mapping[yellow_team_data[i].classified][0] %>
                                        </div>
                                        <div class="col-md-2 col-xs-2 athlete-classification">
                                            <span class="fa-stack">
                                                      <i class="fa fa-star fa-stack-2x gold"></i>
                                                      <span class="fa fa-stack"><%= yellow_team_data[i].average_value%></span>
                                            </span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12 green-team">
                                        <strong>Time Verde</strong>
                                    </div>
                                </div>
                                <% for(var i = 0; i < green_team_data.length; i++) { %>
                                    <div class="row table-teams">
                                        <div class="col-md-2 athlete-picture">
                                            <img class="img-responsive profile-image" src="<%= user_mapping[green_team_data[i].classified][1] %>">
                                        </div>
                                        <div class="col-md-8 col-xs-10 athlete-name">
                                            <%= user_mapping[green_team_data[i].classified][0] %>
                                        </div>
                                        <div class="col-md-2 col-xs-2 athlete-classification">
                                            <span class="fa-stack">
                                                      <i class="fa fa-star fa-stack-2x gold"></i>
                                                      <span class="fa fa-stack"><%= green_team_data[i].average_value%></span>
                                            </span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>-->

            </div>
        </main>
        <% } %>
</body>

</html>