<!DOCTYPE html>
<html>

<head>
    <title>Racha dos Amigles - 2017</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/rda.css">
    <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="js/rda.js"></script>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="row">
        <nav>
            <div class="row nav-bar is-flex">
                <div class="col-md-3 col-xs-12 logo-container">
                    <img class="img-responsive logo" src="images/rda_logo1.png">
                </div>
                <div class="col-md-6 col-xs-12 text-center main-container">
                    <h1 class="main-title">
                        Série de
                        <%= month %> /
                            <%= current_year %>
                    </h1>
                </div>

                <div class="col-md-3 col-xs-12 action-area">
                    <a class="action-text text-center" href="/login">Login</a>
                </div>
            </div>
        </nav>

        <br>
        <br>
        <% if (!red_team_data) { %>
            <main class="row">
                <div id="main-info" class="col-md-12 text-center grayed-area">
                    <div class="row">
                        <div class="col-md-2 col-lg-1"></div>
                        <div class="col-md-8 col-lg-10">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h2 class="main-area-text">Sem sorteios disponíveis para esse mês.</h2>
                                    <h3>Aguarde o primeiro racha do mês para visualizar os times</h3>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-1"></div>
                    </div>
                </div>
            </main>

    <% } else { %>


        <main class="row">
            <div id="main-info" class="col-md-12 text-center grayed-area">
                <div class="row">
                    <div class="col-md-2 col-lg-1"></div>
                    <div class="col-md-8 col-lg-10">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3 class="h3-team-list">Times sorteados</h3>
                                <div class="alert alert-info alert-info-box text-justify">
                                    <div class="text-center">
                                        <strong>Legenda</strong>
                                        <br>
                                        P: Pontos | 
                                        V: Vitórias | 
                                        E: Empates | 
                                        D: Derrotas | 
                                        S.G.: Saldo de Gols
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-12 col-lg-4 team-separator">
                                <div class="row">
                                    <div class="col-md-12 red-team">
                                        <h4 class="white"><strong>Time Vermelho</strong></h4>
                                        <div class="white">
                                            <b class="background-special-black">P: <%= red_team.points | 0 %> </b> | 
                                            <b>V:</b> <%= red_team.wins | 0 %> | 
                                            <b>D:</b> <%= red_team.losses | 0 %> | 
                                            <b>E:</b> <%= red_team.draws | 0 %> | 
                                            <b>S.G.:</b> <%= red_team.goals_for - red_team.goals_against | 0 %>
                                        </div>
                                    </div>
                                </div>

                                <% for(var i = 0; i < red_team_data.length; i++) { %>
                                    <div class="row table-teams is-flex">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="profile-image athlete-picture" src="<%= user_mapping[red_team_data[i].classified][1] %>">
                                        </div>
                                        <div class="col-md-5 col-xs-7 athlete-name col-lg-6">
                                            <%= user_mapping[red_team_data[i].classified][0] %>
                                        </div>
                                        <div class="col-md-4 col-xs-3 col-lg-3 athlete-classification">
                                            <span class="text-success"><%= i + 10 / 4 %><i class="fa fa-star gold"></i></span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="col-md-4 col-xs-12 col-lg-4 team-separator">
                                <div class="row">
                                    <div class="col-md-12 yellow-team">
                                        <h4><strong>Time Amarelo</strong></h4>
                                        <div>
                                            <b class="background-special-gray">P: <%= yellow_team.points | 0 %> </b> | 
                                            <b>V:</b> <%= yellow_team.wins | 0 %> | 
                                            <b>D:</b> <%= yellow_team.losses | 0 %> | 
                                            <b>E:</b> <%= yellow_team.draws | 0 %> | 
                                            <b>S.G.:</b> <%= yellow_team.goals_for - yellow_team.goals_against | 0 %>
                                        </div>
                                    </div>
                                </div>

                                <% for(var i = 0; i < yellow_team_data.length; i++) { %>
                                    <div class="row table-teams is-flex">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="profile-image athlete-picture" src="<%= user_mapping[yellow_team_data[i].classified][1] %>">
                                        </div>
                                        <div class="col-md-5 col-xs-7 athlete-name col-lg-6">
                                            <%= user_mapping[yellow_team_data[i].classified][0] %>
                                        </div>
                                        <div class="col-md-4 col-xs-3 col-lg-3 athlete-classification">
                                            <span class="text-success"><%= i + 5.7 / 2 %><i class="fa fa-star gold"></i></span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                            <div class="col-md-4 col-xs-12 col-lg-4">
                                <div class="row">
                                    <div class="col-md-12 green-team">
                                    <h4 class="white"><strong>Time Verde</strong></h4>
                                    <div class="white">
                                        <b class="background-special-black">P: <%= green_team.points | 0 %> </b> | 
                                        <b>V:</b> <%= green_team.wins | 0 %> | 
                                        <b>D:</b> <%= green_team.losses | 0 %> | 
                                        <b>E:</b> <%= green_team.draws | 0 %> | 
                                        <b>S.G.:</b> <%= green_team.goals_for - green_team.goals_against | 0 %>
                                    </div>
                                    </div>
                                </div>

                                <% for(var i = 0; i < green_team_data.length; i++) { %>
                                    <div class="row table-teams is-flex">
                                        <div class="col-md-3 col-lg-3">
                                            <img class="profile-image athlete-picture" src="<%= user_mapping[green_team_data[i].classified][1] %>">
                                        </div>
                                        <div class="col-md-5 col-xs-7 athlete-name col-lg-6">
                                            <%= user_mapping[green_team_data[i].classified][0] %>
                                        </div>
                                        <div class="col-md-4 col-xs-3 col-lg-3 athlete-classification">
                                            <span class="text-success"><%= green_team_data[i].average_value %><i class="fa fa-star gold"></i></span>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="col-md-2 col-lg-1"></div>
                </div>
            </div>
        </main>
        <% } %>
</body>

</html>