<!DOCTYPE html>
<html>

<head>
    <title>Racha dos Amigles - 2017</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/classifier.css">
    <link rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="js/rda.js"></script>

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="row">
        <nav>
            <div class="row nav-bar is-flex">
                <div class="col-md-3 col-xs-12 logo-container">
                    <img class="img-responsive logo" src="images/rda_logo1.png">
                </div>
                <div class="col-md-6 col-xs-12 text-center main-container">
                    <h1 class="main-title">
                        Classificação de Jogadores
                    </h1>
                </div>
                <div class="col-md-3 col-xs-12 action-area">
                    <a class="action-text" href="/">Ver Último Sorteio</a>
                    <a class="action-text" href="/login">Logout</a>
                </div>
            </div>
        </nav>

        <br>

        <main>
            <div class="row">
                <div class="col-md-3 col-xs-12 col-lg-2"></div>
                <div class="col-md-6 col-lg-8 alert alert-warning alert-warning-box text-justify">
                    <span><strong>Por favor, defina uma nota pra cada atleta e submeta suas classificações ao final do formulário (classificações em branco não serão computadas). Os sorteios serão realizados de acordo com a ponderação de todas as classificações enviadas</strong></span>
                </div>
                <div class="col-md-3 col-xs-12 col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-2"></div>
                <div class="col-md-6 col-xs-12 col-lg-8 grayed-area">
                    <table class="table">
                        <tbody>
                            <% check_last_classification_match = function(last_classifications, classified_id, value) {
                                for(var i=0; i<last_classifications.length; i++) {
                                    if (last_classifications[i].classified == classified_id) {
                                        return last_classifications[i].classification == value ? "selected" : ""
                                    }
                                 }
                                 return ''
                            } %>
                            <% for(var i=0; i<users.length; i++) {%>
                                <tr>
                                    <td>
                                        <img class="img-responsive user-image" src="<%= users[i].picture %>" alt="User profile photo">
                                    </td>
                                    <td>
                                        <h5 class="user-name">
                                            <%= users[i].name %>
                                        </h5>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4"></div>
                                            <div class="col-md-4 col-lg-4"></div>
                                            <div class="col-md-4 col-xs-12 col-lg-4">
                                                <label class="label" for="classification-<%= users[i].id %>">Nota</label>
                                                <select class="form-control" id="classification-<%= users[i].id %>">
                                                    <option></option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 1) %>>1</option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 2) %>>2</option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 3) %>>3</option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 4) %>>4</option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 5) %>>5</option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 6) %>>6</option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 7) %>>7</option>
                                                    <option<%= check_last_classification_match(last_classifications, users[i].id, 8) %>>8</option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 9) %>>9</option>
                                                    <option <%= check_last_classification_match(last_classifications, users[i].id, 10) %>>10</option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                    <button id="send_classifications" class="btn btn-primary btn-block">Enviar Classificações</button>
                    <br>
                </div>
                <div class="col-md-3 col-lg-2"></div>
            </div>
        </main>
    </div>
</body>

</html>